<div class="col-md-10 text-center">
	<h1>My name is Jeff...</h1>
	<br />
	<img src="/images/hithere.png">
	<br />
	<h2>Click <strong>CHAT!</strong> to the right and let's dish</h2>
  <h3><emphasis>Or feel free to <a href="/signup">Signup</a></emphasis></h3>
</div>
    

</div>

<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '28ebb4f7-52e0-401c-86fd-d126bfcbc19e', f: true }); done = true; } }; })();</script>
