<div class="title text-center">
	<h1>Order Your [ TASER ] Gear Here!</h1>
	<h3><i>Limited Supplies Available</i></h3>
	<hr />
</div>

<div class="row">
	  <div class="col-md-6">
	  		<img src="/images/tasergear.png">
	  </div>
	  	<div class="col-md-4">
	  		<div class="price">
	    		<h3>Price: $18</h3>
	  			<h3><i>Quantity: </i></h3>
				  <select class="form-control">
				    <option value>1</option>
				    <option value>2</option>
				    <option value>3</option>
				    <option value>4</option>
					</select>
				</div>
			<br />
	  <input class="btn btn-success" type="submit">	
  	</div>
</div>

<h4>Go back to [ TASER ] <a href="/">home</a></h4>

