.refresh {
	border-color: black;
	border-radius: 15px;
	background-color: #FFA500;
	color: black;
}


#tweet-container {
    width:550px;
    height: 360px;
    overflow: hidden;
}

.flicks {
	width:280px;
}

